
@{
    ViewData["Title"] = "HaberEkle";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}
@model HaberViewModels
<form asp-action="HaberEkle" asp-controller="Admin" enctype="multipart/form-data">
    <div>
        <label asp-for="HaberBaslik"></label>
        <input class="form-control form-control-lg" asp-for="HaberBaslik" atype="text" placeholder="Haber Başlığını Giriniz" aria-label=".form-control-lg example">
        <span asp-validation-for="HaberBaslik"></span>
    </div>

    <div>
        <label asp-for="HaberDetay"></label>
        <textarea rows="15" class="form-control" asp-for="HaberDetay" aria-label="Haber Detayı"></textarea>
        <span  asp-validation-for="HaberDetay" aria-label="Haber Detayı"></span>
    </div>

    <div>
        <label asp-for="KategoriId"></label>
        @Html.DropDownListFor(x=>x.KategoriId,(List<SelectListItem>)ViewBag.Kategori,new {@class="form-control",required="required"})
        <span  asp-validation-for="KategoriId" aria-label="Haber Detayı"></span>
    </div>

    <div>
        <label asp-for="HaberResim"></label>
        <input class="form-control form-control-lg" asp-for="HaberResim" atype="text" placeholder="Haber Başlığını Giriniz" aria-label=".form-control-lg example">
        <span asp-validation-for="HaberResim"></span>
    </div>
    <button type="submit" class="btn btn-success">Kaydet </button>

</form>


